body {
    margin: 0%;
    padding: 0%;
    background-color:lightyellow;

}
.title{
    background-color:darkslategray;
    height: 8%;
    width: 100%;
    position: fixed;
}
.title h1{
    margin-right: 11%;
    color: whitesmoke;
    text-align: center;
    font-size: 125%;
}
.title a{
    margin-top: 1.2%;
}
.container img {
    margin-left: 0.12%;
    height: 100%;
    width: 100%;
    border: solid 2px #7eb679;

}


.fot img{
    margin-top: 2.5%;
    float: left;
    width: 12.07%;
}
.btn:hover {
    background: red;
}
.btn{
    float: left;
    text-decoration: none;
    color: #fafafa;
    background: green;
    margin-left: 25px;
}

.btn1:hover {
    background: #0000b4;
    width: 5.5%;
    height: 27.5%;


}
.btn1{
    margin-left: 0.2%;
    background: #0000b4;
    color: navy;
    width: 5%;
    height: 27%;
    text-align: center;
}
.container  button:last-child  {

}
.poisk {
    margin-bottom: 0.15%;
    margin-left: 0.15%;
    margin-top: 7%;
    text-align: justify-all;
    background-color: darkgreen;
    color: lightgoldenrodyellow;
    font-size: 130%;
}

.test1{
    animation-name: test-22;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    cursor: pointer;
    color: lightgoldenrodyellow;
    font-size: 20px;
    font-weight: bold;
}

.poisk1{
    margin-bottom: 0.1%;
    background-color:darkslategrey;
    color: #e4e6a9;
    width: 50%;
    margin-left: 0.15%;
}

@media screen and (max-width: 768px) {
    .title {
        width: 500px;
    }


    .fot img {
        width: 11.46%;
        margin-top: 32px;
    }

}


