
.naz{
    text-align:center;
    width: 68%;
}
.tab{
width: 100%;
}
.head_row{
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    background:#C0C0C0;
    font-weight:bold;
    width: 70%;
}
.head_row2:nth-child(1) {
    display: none;
}
.head_row2:nth-child(2) {
    display: none;
}
.layer{
    width:100%;
    height:100%;
  }
.shir{
    width:70%;
  }
 /* YOU IS STEEP PROGRAMMER */
.test {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 100%; /* Ширина блока */
    height: 550px; /* Высота блока */
    border: solid 1px black; /* Параметры рамки */
}


